@{
Layout = "_Layout";
ViewData["Title"] = "Home";

}

<header id="Home">
    <div class="section__container header__container">
        <div class="header__image">
            <img src="assets/header-1.jpg" alt="header" />
            <img src="assets/header-2.jpg" alt="header" />
        </div>
        <div class="header__content">
            <div>

                <h1>Discover the world one adventure at a time.</h1>
                <p class="section__subtitle">
                    At Etoma, we're passionate about making travel accessible
                    and exciting. Discover comprehensive guides, hidden gems,
                    and insider tips to inspire your next journey. Explore the beauty,
                    culture, and diversity of our world—one adventure at a time.
                </p>
                <div class="action__btns">
                    <a asp-controller="VacationSpot"
                       asp-action="Index"
                       class="btn btn--trip">
                        Plan a Trip
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="Destinations" class="section__container destination__container">
    <div class="section__header">
        <div>
            <h2 class="section__title">Explore top destinations</h2>
            <p class="section__subtitle">
                Discover the best places to visit with our expert guides,
                uncovering must-see attractions, hidden gems, and local secrets.
                Start planning your next adventure today!
            </p>
        </div>
    </div>
    <div class="destination__grid">
        <div class="destination__card">
            <img src="assets/destination-1.jpg" alt="destination" />
            <div class="destination__details">
                <p class="destination__title">Banff</p>
                <p class="destination__subtitle">Canada</p>
            </div>
        </div>
        <div class="destination__card">
            <img src="assets/destination-2.jpg" alt="destination" />
            <div class="destination__details">
                <p class="destination__title">Machu Picchu</p>
                <p class="destination__subtitle">Peru</p>
            </div>
        </div>
        <div class="destination__card">
            <img src="assets/destination-3.jpg" alt="destination" />
            <div class="destination__details">
                <p class="destination__title">Lauterbrunnen</p>
                <p class="destination__subtitle">Switzerland</p>
            </div>
        </div>
        <div class="destination__card">
            <img src="assets/destination-4.jpg" alt="destination" />
            <div class="destination__details">
                <p class="destination__title">Zhangjiajie</p>
                <p class="destination__subtitle">China</p>
            </div>
        </div>
    </div>
</section>

<section id="Pricing" class="trip">
    <div class="section__container trip__container">
        <h2 class="section__title">Best trip package</h2>
        <p class="section__subtitle">
            Find the perfect getaway with our carefully curated trip
            packages. Enjoy unforgettable experiences, exceptional
            value, and seamless travel planning.
        </p>
        <div class="trip__grid">
            <div class="trip__card">
                <img src="assets/trip-1.jpg" alt="trip" />
                <div class="trip__details">
                    <p>The Dolomites, Italy</p>
                    <div class="rating"><i class="ri-star-fill"></i></div>
                    <div class="booking__price">
                        <div class="price"> 350.00 lv</div>
                        <a asp-controller="VacationSpot"
                            asp-action="Details"
                            asp-route-id="16"
                            class="book__now">
                            Check Deal
                        </a>
                    </div>
                </div>
            </div>
            <div class="trip__card">
                <img src="assets/trip-2.jpg" alt="trip" />
                <div class="trip__details">
                    <p>Patagonia, Argentina and Chile</p>
                    <div class="rating"><i class="ri-star-fill"></i></div>
                    <div class="booking__price">
                        <div class="price"> 500.00 lv</div>
                        <a asp-controller="VacationSpot"
                            asp-action="Details"
                            asp-route-id="15"
                            class="book__now">
                            Check Deal
                        </a>
                    </div>
                </div>
            </div>
            <div class="trip__card">
                <img src="assets/trip-3.jpg" alt="trip" />
                <div class="trip__details">
                    <p>Wasserwerk Freiberg, Germany</p>
                    <div class="rating"><i class="ri-star-fill"></i></div>
                    <div class="booking__price">
                        <div class="price"> 450.00 lv</div>
                        <a asp-controller="VacationSpot"
                            asp-action="Details"
                            asp-route-id="14"
                            class="book__now">
                            Check Deal
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="view__all"><a asp-controller="VacationSpot" asp-action="Index" class="btn"> View All </a> </div>
    </div>
</section>

<section id="Gallery" class="gallery">
    <div class="section__container gallary__container">
        <div class="image__gallary">
            <div class="gallary__col">
                <img src="assets/gallery-1.jpg" alt="gallary" />
            </div>
            <div class="gallary__col">
                <img src="assets/gallery-2.jpg" alt="gallary" />
                <img src="assets/gallery-3.jpg" alt="gallary" />
            </div>
        </div>
        <div class="gallary__content">
            <div>
                <h2 class="section__title">
                    Our locations that will inspire you
                </h2>
                <p class="section__subtitle">
                    Browse our locations for stunning photos and inspiring
                    travel moments. Let our visual stories ignite your
                    wanderlust and guide your next adventure.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="section__container subscribe__container">
        <div class="subscribe__content">
            <h2 class="section__title">Have a problem?</h2>
            <p class="section__subtitle">
                Send us your email at Etoma@gmail.com
            </p>
        </div> 
    </div>
</section>

<footer id="Contact" class="footer">
    <div class="section__container footer__container">
        <div class="footer__col">
            <h3>Etoma</h3>
            <p>
                Explore your suitable and dream places around the world. Here you
                can find your right destination.
            </p>
        </div>
        <div class="footer__col">
            <h4>Support</h4>
            <ul class="support__links">
                <li><a asp-controller="Home" asp-action="FAQs">FAQs</a></li>
                <li><a asp-controller="Home" asp-action="Terms">Terms &amp; Conditions</a></li>
                <li><a asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <h4>Address</h4>
            <p>
                <span>Address:</span> 420 Chep Park, Drujba, Sofia, Bulgaria
            </p>
            <p><span>Email:</span> Etoma@gmail.com</p>
            <p><span>Phone:</span> +359 887370482</p>
        </div>
    </div>
    <div class="footer__bar">
        Copyright © 2025 Landing Page | Etoma. All rights reserved.
    </div>
</footer>
